body {
  min-height: 2000px;
  padding-top: 70px;
}

.panel-body{
	padding-top: 8px;
	padding-bottom: 8px;;
}

.form-group {
	margin-bottom: 0;
}

.topformpad{
	height: 100px;
}

.formpad{
	margin-bottom: 30px;
}

.apptitle{
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 40px;
}

.user_name{
	margin-bottom: 40px;
}

.oauth-login{
	padding-top: 150px;
	margin-bottom: 100px;
}
.oauth-scope{
	padding-top: 150px;
	margin-bottom: 100px;
}

.jumbotron{
	background-color: #ffffff;
}